<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conexão - Pré-inscrição</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    
</head>
<body>    
    <div class="banner">
        <a href="/" class="container">
            <img src="/static/images/1291.jpg" alt="">
        </a>
    </div>
    <main class="container-fluid">
        <!-- <section id="sobre">
            <div class="container">
                <h2 class="mb-3">Bridges #6 - Unindo pessoas e conhecimento</h2>
               <div class="row">
                <div class="col-9">
                    <div class="row mb-2">
                        <div class="col d-flex">
                            <i class="fa-solid fa-location-dot me-2 my-auto"></i>
                            <p class="me-auto my-auto">Av. Brigadeiro Luís Antônio, 4700 - SP - São Paulo - Brasil </p>
                        </div>                    
                    </div>            
                    <div class="row">
                        <div class="col">
                            <p>30/08/2024 – 31/08/2024 - 07:00 - 20:00 GMT-3</p>
                        </div>
                    </div>    
                </div>
                <div class="col-3 d-flex">
                    <button class="ms-auto btn btn-success rounded-pill mb-auto">
                        Realizar pré-inscrição
                    </button>
                </div>
               </div>                
            </div>
        </section> -->
        <section id="programacao">
            <div class="container d-flex flex-column">
                <h2 class="mb-3">Pré-inscrição</h2>
                <p>Para realizar a pré-inscrição, preencha o formulário abaixo:</p>
                <form method="post" class="d-flex flex-column">
                    {% csrf_token %}
                    {{form}}
                    <!-- <div class="mb-3">
                        <label for="nome" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="nome" name="nome" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">E-mail</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="telefone" class="form-label">Whatsapp</label>
                        <input type="tel" class="form-control" id="telefone" name="telefone" required>
                    </div> -->
                    <button class="w-100 btn btn-success rounded-pill mb-auto" style="background-color: #00b599; border-radius: 8px;">
                     Enviar pré-inscrição
                    </button>
                </form>

            </div>
        </section>
        <section id="inscricao" class="p-0" style="background-color: rgb(236, 239, 240);">
            <div class="container p-1">
                <div class="map-container mt-1 mx-1 p-0" style="border-radius: 8px;">                   
                <iframe 
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3671.3453919038817!2d-44.25689893092324!3d-21.13574459547524!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x97f7d6d25f0b6d%3A0x66d5b62172c4a858!2sCol%C3%A9gio%20Nossa%20Senhora%20das%20Dores!5e0!3m2!1spt-BR!2sbr!4v1699800265944!5m2!1spt-BR!2sbr" 
                    width="100%" 
                    height="452" 
                    style="border:0;" 
                    allowfullscreen="" 
                    loading="lazy" 
                    referrerpolicy="no-referrer-when-downgrade"
                    zoom="18">
                </iframe>                
                </div>
        </section>
        <section id="contato" class="px-0 pt-5">
            <div class="container d-flex flex-column">
                <img src="/static/images/conexao-logo.png" class="mx-auto mt-5" alt="conexão logo" style="width: 300px;">
                <button class="btn mx-auto px-5 my-5 py-3 rounded-pill" style="border: 2px solid rgba(128, 128, 128, 0.384); color: rgb(54, 54, 54);">
                    <img src="/static/images/whatsapp.svg" class="me-2 mb-1" alt="logo whatsapp" style="width: 20px;">Entrar no grupo do WhatsApp
                </button>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <p>&copy; 2024 Conexão. Todos os direitos reservados.</p>
        </div>
    </footer>    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        function mask(o, f) {
            setTimeout(function() {
                var v = f(o.value);
                if (v != o.value) {
                    o.value = v;
                }
            }, 1);
        }

        function mphone(v) {
            var r = v.replace(/\D/g, "");
            r = r.replace(/^0/, "");
            if (r.length > 10) {
                r = r.replace(/^(\d\d)(\d{5})(\d{4}).*/, "($1) $2-$3");
            } else if (r.length > 5) {
                r = r.replace(/^(\d\d)(\d{4})(\d{0,4}).*/, "($1) $2-$3");
            } else if (r.length > 2) {
                r = r.replace(/^(\d\d)(\d{0,5})/, "($1) $2");
            } else {
                r = r.replace(/^(\d*)/, "($1");
            }
            return r;
        }

        document.addEventListener("DOMContentLoaded", function() {
            var whatsappInput = document.querySelector('input[name="whatsapp"]');
            whatsappInput.addEventListener("keyup", function() {
                mask(this, mphone);
            });
        });
    </script>
</body>
</html>
