body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    /* background-color: #E35205; */
    color: white;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 40px 0 40px;
}
.logo {
    display: inline-block;
    color: white;
    margin: auto;
}
.logo img{
    width: 250px;
    max-height: 150px;
}
nav {
    display: inline-block;
    /* float: right; */
    margin: auto 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #005bb5;
}

.banner {
    background-color: none;
    color: white;
    padding: 50px 0 10px 0;
    text-align: center;
}

.banner img{
    max-width: 1102px;
    width: 100%;
    border-radius: 8px;
}

main {
    padding: 20px 0;
}

section {
    margin: 20px auto;
    border-radius: 8px;
    padding: 30px 0px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* max-width: 1102px; */
    width: 100%;
}

#banner {
    border-radius: 0px !important;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    max-width: 1102px;
    width: 90%;
}
section h2 {
    margin-top: 0;
}

#sobre h2{
    font-weight: bolder;
}
#sobre p{
    line-height: 10pt;
}

.desktop h2{
    margin-top: 18px;
    font-weight: bolder;
    font-size: 23pt;
    text-align: center;
    color: white;
}
.desktop p{
    font-size: 16pt;
    margin: 30px 40px;
    color: rgb(226, 226, 226);
}
.desktop ul li{
    font-size: 16pt;
    color: rgb(226, 226, 226);
}
.mobile h2{
    margin-top: 10px;
    font-weight: bolder;
    font-size: 3.0vh;
    text-align: center;
    color: white;
}
.mobile p{
    font-size: 1.9vh;
    color: rgb(226, 226, 226);
}
.desktop p span{
    background-color: #005bb5;
    padding: 3px 6px;
    color: white;
    border-radius: 4px;
}
.mobile p span{
    background-color: #005bb5;
    padding: 1px 3px;
    color: white;
}
#inscricao h2{
    font-weight: bolder;
    font-size: 22pt;
    text-align: center;
}
footer {
    background-color: #f4f4f4;
    color: rgb(68, 66, 68);
    text-align: center;
    padding: 10px 0;
}

.text-justify {
    text-align: justify;
}   

.btn-success{
    background-color: 00b599 !important;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.border{
    border: 2px solid #00b599;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.div-img{
    padding: 0px;
}

.mobile{
    display: none;
}
.desktop{
    display: block;
}

@media (max-width: 1268px) {
    .mobile{
        display: block;
    }
    .desktop{
        display: none;
    }  
}
